@use "../../global-styles/global-variables";
.aside {
  background: global-variables.$aside-gradient;
  padding: 40px 16px;
  width: 23vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.875rem 0.9rem 3rem;
  .imgParceiroPrixLogo {
    height: auto;
    width: 10vw;
  }
}
