@use "../../global-styles/global-variables";

.main {
  display: grid;
  grid-template-rows: 70px calc(-70px + 100vh);
  width: 100vw;
  .headerMain {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 235, 236);
    padding: 0px 2rem;
    .headerMainLevelOneLeft {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      .headerMainLevelTwoLeftName {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .olaName {
          font-size: 1rem;
          line-height: 24px;
          font-weight: 700;
          color: rgb(44, 44, 57);
        }
        .userName {
          font-size: 1rem;
          line-height: 24px;
          margin-left: 4px;
          font-weight: 700;
          text-align: center;
          color: global-variables.$text-blue-color;
        }
      }
      .headerMainLevelTwoRightButtonLogout {
        padding: 0 0.6rem;
        background: rgb(239, 243, 246);
        margin: 0 0 0 1rem;
        height: 69px;
        .exitIcon {
          width: 20px;
          height: 70px;
        }
      }
    }
    .headerMainLevelOneRight {
      height: 100%;
      .toledoLogo {
        width: 107px;
        height: 69px;
      }
    }
  }
}
