//Variaveis
//Cores
//$primary-color: #0c0421;
$aside-gradient: linear-gradient(
    18deg,
    rgb(44, 44, 57) 0%,
    rgb(30, 69, 109) 57%,
    rgb(11, 102, 178) 100%
  )
  0% 0% no-repeat padding-box padding-box transparent;
$blue-button-color: rgb(0, 102, 255);
$border-bottom-collor: rgb(233, 235, 236);
$text-blue-color: rgb(11, 102, 178);
//botoes enviar solicitar beneficios e página inicial, como listas, simulador e botão azul de recursos
//linear-gradient(18deg, rgb(44, 44, 57) 0%, rgb(30, 69, 109) 57%, rgb(11, 102, 178) 100%) 0% 0% no-repeat padding-box padding-box transparent; aside
//rgb(11, 102, 178) nome usuario
//#419641  botão verde gravar
// #e0e0e0 botão cinza voltar
